ESB_BPELExamples/LoginComponent/AgreementServiceMediation/AgreementServcie/AgreementDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="unqualified"
	targetNamespace="http://AgreementServcie"
	xmlns:bons0="http://AgreementServcie"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include
		schemaLocation="../localhost/agreementservcieweb/sca/agreementservicewsexport/web_inf/wsdl/ObjectRefrence.xsd" />
	<xsd:complexType name="AgreementDetails">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="quoteReferenceNumber"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="state" type="xsd:string" />
			<xsd:element minOccurs="0" name="productName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="policyHolder"
				type="bons0:ObjectRefrence">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>