ESB_BPELExamples/LoginComponent/RESTService/HelloWorldRef.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="HelloWorldRef" targetNamespace="http://RESTService/HelloWorldRef" xmlns:tns="http://RESTService/HelloWorldRef" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://RESTService/HelloWorldRef">
      <xsd:element name="helloWorld">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="helloWorldResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="helloWorldRequestMsg">
    <wsdl:part element="tns:helloWorld" name="helloWorldParameters"/>
  </wsdl:message>
    <wsdl:message name="helloWorldResponseMsg">
    <wsdl:part element="tns:helloWorldResponse" name="helloWorldResult"/>
  </wsdl:message>
    <wsdl:portType name="HelloWorldRef">
    <wsdl:operation name="helloWorld">
      <wsdl:input message="tns:helloWorldRequestMsg" name="helloWorldRequest"/>
      <wsdl:output message="tns:helloWorldResponseMsg" name="helloWorldResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>