ESB_BPELExamples/LoginComponent/AgreementServices/AgreementDeatils.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AgreementServices"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="AgreementDeatils">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="state" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="startDate"
				type="xsd:date">
			</xsd:element>
			<xsd:element minOccurs="0" name="endDate" type="xsd:date"></xsd:element>
			<xsd:element minOccurs="0" name="productName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="quoteReferenceNumber"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>