ESB_BPELExamples/LoginComponent/AgreementLibrary/AgreementDetails.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AgreementLibrary" xmlns:bons1="http://AgreementLibrary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="ObjectRefrence.xsd"/>
    <xsd:complexType name="AgreementDetails">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="quoteReferenceNumber" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="state" type="xsd:string"/>
			<xsd:element minOccurs="0" name="productName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="policyHolder" type="bons1:ObjectRefrence">
			</xsd:element>
			<xsd:element maxOccurs="5" minOccurs="0" name="benefitAgreements" type="bons1:AgreementDetails">
			</xsd:element>
			<xsd:element minOccurs="0" name="startDate" type="xsd:dateTime">
			</xsd:element>
			<xsd:element minOccurs="0" name="benefitName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="benefitTerm" type="xsd:int">
			</xsd:element>
			<xsd:element minOccurs="0" name="benefitPremium" type="xsd:int">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>