ESB_BPELExamples/LoginComponent/AgreementLibrary/AgreeementRulesInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="AgreeementRulesInterface" targetNamespace="http://AgreementRules/AgreeementRulesInterface" xmlns:tns="http://AgreementRules/AgreeementRulesInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://AgreementRules/AgreeementRulesInterface">
      <xsd:element name="checkProductValidity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productName" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkProductValidityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isValidProduct" nillable="true" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="checkProductValidityRequestMsg">
    <wsdl:part element="tns:checkProductValidity" name="checkProductValidityParameters"/>
  </wsdl:message>
    <wsdl:message name="checkProductValidityResponseMsg">
    <wsdl:part element="tns:checkProductValidityResponse" name="checkProductValidityResult"/>
  </wsdl:message>
    <wsdl:portType name="AgreeementRulesInterface">
    <wsdl:operation name="checkProductValidity">
      <wsdl:input message="tns:checkProductValidityRequestMsg" name="checkProductValidityRequest"/>
      <wsdl:output message="tns:checkProductValidityResponseMsg" name="checkProductValidityResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>