ESB_BPELExamples/LoginComponent/AgreementLibrary/ObjectRefrence.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AgreementLibrary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="ObjectRefrence">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="typeId" type="xsd:long"/>
			<xsd:element minOccurs="0" name="componentId" type="xsd:long">
			</xsd:element>
			<xsd:element minOccurs="0" name="objectId" type="xsd:long">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>